$cta-bg : #2F80ED;
$cta-font : white;
$cta-radius : 8px;

$main-color : #E0E0E0;
$secondary-color : #828282;
$link-color: #2D9CDB;

$border-color: #BDBDBD;
$background-color : #333333;

$sidebar-bg :#120F13;
$sidebar-font: #ffffff;

$chat-bg : #252329;
